html, body
{
    height: 100%;
    background-color: aliceblue;
    font-size: large;
    font-family: 'Playfair Display', serif;
}
.videos
{
    height: 100%;
    width: 100%;
}
.video-container {
    position: relative;
    padding-bottom: 70%;
    width: 300%; /* enlarge beyond browser width */
    left: -100%; /* center */

}
.wrapper {
    overflow: hidden;
    /* background-color: aliceblue; */
    /* height: 0; */
    /* change video width */
    height: 20px;
    /* to put it in the middle flexbox doesn't work*/
    margin-left: 48.5%;
    max-width: 3%;
 }
 @media only screen and (max-width: 1200px) {
    .wrapper {
        max-width: 5%;
        margin-left: 47.5%;
    }
}
/* works when you have the meta tag that helps scale the page for mobile devices */
@media only screen and (max-width: 600px) {
    .wrapper {
        max-width: 10%;
        margin-left: 49.5%;
    }
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#startPage
{
    display: none;
    flex-direction: column;
    font-size: 4vh;
    justify-content: center;
    align-items: center;
    height: 100%;
}
#gamePage
{
    display: none;
}

#answer, #answer2
{
  font-size: 3vh; 
}

.score-container
{
    height: 10%;
    font-size: 4vh;
}
.container
{
    font-size: 3vh;
    height: 50vh;
    width: 100%;
}
.btn-primary
{
    width:  fit-content;
    padding: 2vh 6vh;
    height: fit-content;
    font-size: 2vh;
}
#form
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 2vh;
}



